.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    align-items: start;
 }

 .feature {

    display: grid;
    grid-template-columns: min-content 1fr; // icon fills first column (mincontent) and text occupies the rest.
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2; // p text jumps over to correct placement when this takes below space as well.
        transform: translateY(-1rem); // aligns better with text now
    }

    &__text {
        font-size: 1.7rem;
    }
 }